body {
  font-size: 16px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  margin: 0;
}
.header {
  padding: 285px 10px 115px;
  background: url(img/header-bg.png) 50% no-repeat;
  background-size: cover;
}
.header--wrapper {
  max-width: 903px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  color: white;
}
.header__logo {
  margin-bottom: 95px;
}
.header__title{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.375em;
  letter-spacing: 0.16em;
  text-align: center;
  padding: 0;
}
.header__text{
  font-weight: 400;
  font-size: 0.9375em;
  letter-spacing: 0.06em;
  margin: 50px 0 250px;
  line-height: 29px;
  text-transform: uppercase;
}
.content-block{
  padding: 110px 10px 110px;
  text-align: center;
}
.content-wrapper{
  max-width: 903px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  border: 2px solid black;
  border-top: none;
  padding: 60px 25px 30px;
}
.content-wrapper::after {
  content: "";
  background: linear-gradient(
    to right,
    #3c3c3c 30%,
    transparent 30%,
    transparent 70%,
    #3c3c3c 70%
  );
  position: absolute;
  color: #3c3c3c;
  height: 2px;
  width: 100%;
  left: 0;
  top: 0;
}
.content-wrapper > h2{
  font-size: 2.125em;
  letter-spacing: 0.16em;
  color: #3c3c3c;
  position: absolute;
  margin: 0;
  left: 50%;
  top: 0;
  transform: translate(-50%,-50%);
}
.about__text {
  line-height: 25px;
  color: #3c3c3c;
}
.about__text > p:last-child {
  margin: 0;
}
.services {
  background: url(img/services.png);
  background-size: cover;
}
.services--wrapper{
border-color: #fff;
}
.services--wrapper::after{
  background: linear-gradient(
    to right,
    #ffffff 30%,
    transparent 30%,
    transparent 70%,
    #ffffff 70%
  );
}
.services.content-block{
  padding-bottom: 70px;
}
.services--wrapper.content-wrapper{
  margin-bottom: 60px;
}
.services--wrapper.content-wrapper > h2{
  color: #ffffff;
}
.services__text {
  color: #ffffff;
  line-height: 25px;
  text-align: center;
  margin: 0;
}
.what-we-do--wrapper.content-wrapper{
padding: 115px 25px 90px;
}
.what-we-do__text {
  margin: 0 auto;
  text-align: center;
  color: #3c3c3c;
}
h3 {
  font-size: 1.25em;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  padding: 35px 0 40px;
  margin: 0;
}
.what-we-do__text > p {
  font-size: 0.875em;
  line-height: 25px;
  margin: 0 0 110px;
}
.what-we-do__text > p:last-child {
  margin: 0;
}
.our-works {
  color: #ffffff;
  text-transform: uppercase;
}
.our-works--wrapper{
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; /* v1*/
}
.our-works--wrapper > div {
  padding: 163px 0px 33px;
  background-size: cover;
  /* display: inline-block; v2 */
  font-size: 2.125em;
  font-weight: 700;
  letter-spacing: 0.16em;
}
.not-centered {
  max-width: 548px;
  width: 100%;
}
.centered {
  max-width: 802px;
  width: 100%;
  margin: 5px 10px;
}
.our-works__topworkz {
  background: url(img/topworkz.png) no-repeat;
}
.our-works__joint {
  background: url(img/joint.png) no-repeat;
}
.our-works__market {
  background: url(img/market.png) no-repeat;
}
.our-works__worktop {
  background: url(img/worktop.png) no-repeat;
}
.our-works__lable {
  background: url(img/lable.png) no-repeat;
}
.our-works__kyiv {
  background: url(img/kyiv.png) no-repeat;
}
.our-works__topworkz > span {
  padding-left: 45px;
}
.our-works__joint > span {
  padding-left: 45px;
}
.our-works__market > span {
  padding-left: 45px;
}
.our-works__worktop > span {
  padding-left: 45px;
}
.our-works__lable > span {
  padding-left: 45px;
}
.our-works__kyiv > span {
  padding-left: 45px;
}
.contact-us--wrapper.content-wrapper{
  padding-bottom: 50px;
}
.contact-us__hashtag {
  text-align: center;
  font-size: 1.875em;
  font-weight: 700;
  letter-spacing: 0.16em;
  color: #3c3c3c;
  position: absolute;
  margin: 0;
  left: 50%;
  top: 0;
  transform: translate(-50%,-50%);
}
.contact-us__text {
  margin: 0 0 40px;
  text-align: center;
  color: #3c3c3c;
}
.contact-us__button {
  background-color: #3c3c3c;
  text-align: center;
  padding: 25px 0;
  display: block;
  max-width: 395px;
  width: 100%;
  margin: 0 auto;
  color: #ffffff;
  letter-spacing: 0.16em;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s ease;
}
.contact-us__button:hover {
  background-color: #fff;
  color: #3c3c3c;
}
.footer {
  padding: 65px 0px;
}
.footer__rights {
  margin: 0 auto;
  text-align: center;
}
 .footer__img {
  padding: 0 35px 0 0;
  vertical-align: middle; 
}
 .footer__rights > span {
  vertical-align: middle; 
}

@media screen and (max-width: 1920px) {
  .our-works__topworkz {
    order: 1;
  }
  .our-works__joint {
    order: 3;
  }
  .our-works__market {
    order: 2;
  }
  .our-works__worktop {
    order: 4;
  }
  .our-works__lable {
    order: 6;
  }
  .our-works__kyiv {
    order: 5; 
  }

  .our-works--wrapper > div {
    max-width: none;
  }
  .not-centered {
    width: calc(50% - 5px);
  } 
  .not-centered:nth-child(1),
  .not-centered:nth-child(4) {
    margin-right: 10px;
  }
  .centered {
    width: 100%;
    margin: 10px 0;
  }
} 
@media screen and (max-width: 768px) {
  .no-br768px{
    display: none;
  }
  body{
    font-size: 14px;
  }
  .header{
    padding: 85px 15px;
  }
  .header__logo {
    margin-bottom: 55px;
  }
  .content-block{
    padding: 50px 15px;
  }
  .content-wrapper{
    border: none;
    padding: 0;
  }
  .content-wrapper::after{
    display: none;
  }
  .content-wrapper > h2{
    position: static;
    transform: none;
    margin-bottom: 30px;
  }
  .what-we-do--wrapper.content-wrapper{
    padding: 0;
  }
  .what-we-do--wrapper.content-wrapper > h2{
    margin-bottom: 65px;
    
  }
  .what-we-do__text > p{
    margin-bottom: 50px;
  }
  .our-works--wrapper{
    flex-direction: column;
  }
  .our-works--wrapper > div{
    width: 100%;
  } 
  .centered{
    margin: 0 0 5px;
  }
  .not-centered{
    margin: 0 0 5px;
  }
  .not-centered:nth-child(1),
  .not-centered:nth-child(4) {
    margin-right: 0px;
  }
  .contact-us--wrapper.content-wrapper {
    padding-bottom: 0;
  }
  .contact-us__button {
    width: 40%;
    padding: 10px 0;
  }
  .contact-us__text{
    margin: 0 0 25px;
  }
  .footer{
    padding: 10px 0 25px;
  }
  .footer__img {
    display: block;
    max-width: 70px;
    margin: 0 auto 20px;
    padding: 0;
   }
  .our-works__market{
    text-align: right;
  }
  .our-works__market > span {
    padding-right: 45px;
  }
  .our-works__worktop{
      text-align: right;
  }
    .our-works__worktop > span {
      padding-right: 45px;
  }
  .our-works__lable{
    text-align: right;
  }
  .our-works__lable > span {
    padding-right: 45px;
}  
}  
@media screen and (max-width: 565px) {
body{ 
font-size: 12px;
}
.header{
  padding: 40px 15px;
}
.header__title{
  font-size: 2.4em;
}
.header__text{
  margin: 30px 0 100px;
  line-height: 1.9;
}
.about__text{
  line-height: 20px;
}
.services__text{
  line-height: 20px;
}
.what-we-do__text > p{
  line-height: 20px;
}
.contact-us__button {
  width: 60%;
  padding: 10px 0;
}
}