body{
  font-size: 16px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  margin: 0;
}
.header{
padding: 285px 10px 115px;
background: url(img/header-bg.png) 50% no-repeat;
background-size: cover;
}
.header--wrapper{
  max-width: 903px;
  margin: 0 auto;
  text-align: center;
  padding: 0 160px;
  box-sizing: border-box;
}
.header__logo{
 margin-bottom: 95px;
}
.header__text{
  font-weight: 700;
  text-transform:uppercase;
  color: white;
  font-size: 54px;
  letter-spacing: 0.16em;
  text-align: center;
  padding: 0;
}
.header__text > p{
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.06em;
  margin: 50px 0 250px;
  line-height: 29px;
}
.about--wrapper{
  max-width: 903px;
  margin: 0 auto 160px;
  text-align: center;

}
.about--border{
  margin: 160px auto;
  position: relative;
  width: 903px;
  border: 1px solid black;
  border-top: none;
  padding: 75px 10px 10px;
}
.about--border::after {
  content: '';
  background: linear-gradient(to right,#3c3c3c 30%, transparent 30%, transparent 70%, #3c3c3c 70%);
  position: absolute;
  color: #3c3c3c;
  height: 1px;
  width: 100%;
  left: 0;
  top: 0;
}
.about__hashtag{
  font-size: 34px;
  letter-spacing: 0.16em;
  text-align: center;
  position: absolute;
  margin: -100px 0 50px;
  display: block;
  left: 50%;
  transform: translateX(-50%); 
  color: #3c3c3c;
}
.about__text{
  letter-spacing: 0;
  padding: 0 165px 20px;
  color: #3c3c3c;
}
.about__text > p:first-child{
  margin: 0 0 30px;
}
.about__text > p:last-child{
  margin: 0;
}
.services{
background:url(img/services.png);
background-size: cover;
padding: 115px 10px 110px;
}
.services--wrapper{
  max-width: 903px;
  margin: 0 auto;
}
.services--border{
  position: relative;
  width: 903px;
  border: 1px solid #ffffff;
  border-top: none;
  padding: 75px 10px 10px;
}
.services--border::after{
  content:'';
  background: linear-gradient(to right, #ffffff 30%, transparent 30%, transparent 70%, #ffffff 70%);
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 0;
}
.services__hashtag{
  color: #ffffff;
  font-size: 34px;
  letter-spacing: 0.16em;
  position: absolute;
  margin: -100px 0 0;
  left: 50%;
  transform: translateX(-50%);
}
.services__text{
  padding: 0 160px 20px;
  color: #ffffff;
  line-height: 26px;
  text-align: center;
  margin: 0;
}
.what-we-do--wrapper{
  max-width: 903px;
  margin: 105px auto 115px;
}
.what-we-do--border{
  position: relative;
  width: 903px;
  border: 1px solid #3c3c3c;
  border-top: none;
  padding: 110px 10px 0;
}
.what-we-do--border::after{
  content:'';
  background: linear-gradient(to right,#3c3c3c 30%, transparent 30%, transparent 70%, #3c3c3c 70%);
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 0;
}
.what-we-do__hashtag{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -140px;
  font-size: 34px;
  font-weight: 700;
  color: #3c3c3c;
  letter-spacing: 0.16em;
}
.what-we-do__text{
  margin: 0 auto;
  text-align: center;
  padding: 0 175px 0;
  color: #3c3c3c;
}
h3{
  font-size: 20px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  padding: 35px 0 40px;
  margin: 0;
}
.what-we-do__text > p{
  font-size: 14px;
  line-height: 26px;
  margin: 0 0 110px;
}
.what-we-do__text > p:last-child{
  margin: 0 0 90px;
}
.our-works{
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 0.16em;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 0 130px;
}
.our-works--wrapper{ 
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.our-works__topworkz{
  background: url(img/topworkz.png) no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 548px;
  margin: 0 auto;
  padding: 163px 0px 33px;
}
.our-works__joint{
  background: url(img/joint.png) no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 802px;
  margin: 0 auto;
  padding: 163px 0px 33px;
}
.our-works__market{
  background: url(img/market.png) no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 163px 0px 33px;
}
.our-works__worktop{
  background: url(img/worktop.png) no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 548px;
  margin: 0 auto;
  padding: 163px 0px 33px;
}
.our-works__lable{
  background: url(img/lable.png) no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 802px;
  margin: 0 auto;
  padding: 163px 0px 33px;
}
.our-works__kyiv{
  background: url(img/kyiv.png) no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 163px 0px 33px;
}
.our-works__topworkz > span{
padding-left: 45px;
}
.our-works__joint > span{
  padding-left: 45px;
}
.our-works__market > span{
  padding-left: 45px;
}
.our-works__worktop > span{
  padding-left: 45px;
}
.our-works__lable > span{
  padding-left: 45px;
}
.our-works__kyiv > span{
  padding-left: 45px;
}
/*.our-works--wrapper > div{
  /* max-width: 25%; 
  width: 25%;
}
.our-works--wrapper > div > img{
  width: 100%;
}
.our-works--wrapper > .our-works__mid-img{
  width: 50%;
} 
.our-works--wrapper > div:not(:nth-child(3n+3)){
  margin-right: 10px;

}
.our-works__topworkz > p{
  position:absolute;
  left: 0%;
} */
.contact-us--wrapper{
  max-width: 903px;
  margin: 0 auto ;
}
.contact-us--border{
  position: relative;
  width: 903px;
  border: 1px solid #3c3c3c;
  border-top: none;
  padding: 55px 0px 50px;
  
}
.contact-us--border::after{
  content:'';
  background: linear-gradient(to right, #3c3c3c 30%, transparent 30%, transparent 70%, #3c3c3c 70%);
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 0;
}
.contact-us__hashtag{
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: -70px auto;
}
.contact-us__text{
  padding: 0 175px 40px;
  margin: 0;
  text-align: center;
}
.contact-us__button{
   background-color: #3c3c3c;
  text-align: center;
   padding: 25px 0;
  display: block;
  width: 395px;
  margin: 0 auto;
  color: #ffffff;
  letter-spacing: 0.16em;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s ease;
} 
.contact-us__button:hover{
  background-color: #fff;
  color: #3c3c3c;

}  
.footer{
  padding: 65px 0px;
}
.footer__rights{
  margin: 0 auto;
  text-align: center;
}
.footer__img{
  padding: 0 35px 0 0;
  vertical-align: middle;
}.footer__rights > span{
  vertical-align: middle;
}